<div class="wrapper commentForm">

  <h2>Share your feedback</h2>
  <p>The Open Data team wants to hear from you. Please send us feedback on this report by September 1st.</p>

  <form data-formrenderer>This form requires JavaScript to complete.</form>
  <small style='display:inline-block;margin-top:10px;background:rgba(0,0,0,0.1);padding:5px 10px;border-radius:10px;'>Powered by <a href='https://www.dobt.co/screendoor/'>Screendoor</a>.</small>

  <script>
    // Uncomment this line and set it to the CSS class that your website uses for buttons:
    // FormRenderer.BUTTON_CLASS = '';
    new FormRenderer({"project_id":"mpvWfIeLBrbpLqil"});
  </script>

</div>
