<div class="wrapper commentForm">

  <h2>Share your feedback</h2>
  <p>Please share your reactions and ideas on this year's report by selecting <em>"offer thoughts on this report"</em> below. We also featured seven stories of New Yorkers using Open Data, but these examples are far from exhaustive. We want to hear from you: select <em>"share your open data story"</em> below to tell us how you use Open Data.</p>

  <form data-formrenderer>This form requires JavaScript to complete.</form>
  <small style='display:inline-block;margin-top:10px;background:rgba(0,0,0,0.1);padding:5px 10px;border-radius:10px;'>Powered by <a href='https://www.dobt.co/screendoor/'>Screendoor</a>.</small>

  <script>
    // Uncomment this line and set it to the CSS class that your website uses for buttons:
    // FormRenderer.BUTTON_CLASS = '';
    new FormRenderer({"project_id":"mpvWfIeLBrbpLqil"});
  </script>

</div>
