<footer class="site-footer">

  <div class="wrapper">

    <img class="logo logoLong" src="{{ site.baseurl }}/assets/img/logo-nyc-open-data.png" alt="NYC Open Data logo" />

    <img class="logo" src="{{ site.baseurl }}/assets/img/logo-nyc-moda.png" alt="NYC Mayor's Office of Data and Analytics logo" />

    <img class="logo" src="{{ site.baseurl }}/assets/img/logo-nyc-doitt.png" alt="NYC Department of Information Technology and Telecommunication logo" />

  </div>

</footer>
{% if page.layout == 'report-3' %}
<script src="{{ site.baseurl }}/assets/js/timeline.js"></script>
{% else %}{% endif %}
