<nav class="reportNav sticker">
  <ul class="flexWrap">
    <li>
      <a href="{{ site.baseurl }}/report/introduction/">
        <span class="boldNumber">1</span>
        <span class="boldNumber__heading">Introduction<span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/report/six-open-data-values/">
        <span class="boldNumber">2</span>
        <span class="boldNumber__heading">Six Open Data Values<span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/report/a-year-in-data/">
        <span class="boldNumber">3</span>
        <span class="boldNumber__heading">A Year in Data<span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/report/user-stories/">
        <span class="boldNumber">4</span>
        <span class="boldNumber__heading">User Stories<span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/report/policy-and-compliance/">
        <span class="boldNumber">5</span>
        <span class="boldNumber__heading">Policy & Compliance<span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/report/compliance-plan/">
        <span class="boldNumber">6</span>
        <span class="boldNumber__heading">Compliance Plan<span>
      </a>
    </li>
  </ul>
</nav>
