<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">

      <a href="{{ site.baseurl }}/report/"><img src="{{ site.baseurl }}/assets/img/cover-image.jpg" alt="Photo of busy street with datasets visible." /></a>

      {% include reportNav.html %}

      <div class="wrapper">


      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
