---
layout: report
---
<div class="wrapper">

  <h1>Open Data Values</h1>

</div>

<div class="flexContentWrapper">

  <div class="flexSidebar__left metaContent">
    <img class="icon" src="{{ site.baseurl }}/assets/img/value-1.svg" alt="Icon with three silhouettes" />
  </div>

  <div class="flexContent">
    {% capture value1 %}{% include /content/2.1-value.md %}{% endcapture %}
    {{ value1 | markdownify }}
  </div>

  <div class="flexSidebar__right">

  </div>

</div>

<div class="flexContentWrapper">

  <div class="flexSidebar__left metaContent">
    <img class="icon" src="{{ site.baseurl }}/assets/img/value-2.svg" alt="Icon with a bar chart" />
  </div>

  <div class="flexContent">
    {% capture value2 %}{% include /content/2.2-value.md %}{% endcapture %}
    {{ value2 | markdownify }}
  </div>

  <div class="flexSidebar__right">

  </div>

</div>

<div class="flexContentWrapper">

  <div class="flexSidebar__left metaContent">
    <img class="icon" src="{{ site.baseurl }}/assets/img/value-3.svg" alt="Icon with silhouettes interacting with a computer" />
  </div>

  <div class="flexContent">
    {% capture value3 %}{% include /content/2.3-value.md %}{% endcapture %}
    {{ value3 | markdownify }}
  </div>

  <div class="flexSidebar__right">

  </div>

</div>

<div class="flexContentWrapper">

  <div class="flexSidebar__left metaContent">
    <img class="icon" src="{{ site.baseurl }}/assets/img/value-4.svg" alt="Icon of a silhouette next to a badge" />
  </div>

  <div class="flexContent">
    {% capture value4 %}{% include /content/2.4-value.md %}{% endcapture %}
    {{ value4 | markdownify }}
  </div>

  <div class="flexSidebar__right">

  </div>

</div>

<div class="flexContentWrapper">

  <div class="flexSidebar__left metaContent">
    <img class="icon" src="{{ site.baseurl }}/assets/img/value-5.svg" alt="Icon of a government building" />
  </div>

  <div class="flexContent">
    {% capture value5 %}{% include /content/2.5-value.md %}{% endcapture %}
    {{ value5 | markdownify }}
  </div>

  <div class="flexSidebar__right">

  </div>

</div>

<div class="flexContentWrapper">

  <div class="flexSidebar__left metaContent">
    <img class="icon" src="{{ site.baseurl }}/assets/img/value-6.svg" alt="Icon of a silhouette, a gear, and a lightbulb, connected in a triangle." />
  </div>

  <div class="flexContent">
    {% capture value6 %}{% include /content/2.6-value.md %}{% endcapture %}
    {{ value6 | markdownify }}
  </div>

  <div class="flexSidebar__right">

  </div>

</div>

<div class="wrapper">

  <button><a href="{{ site.baseurl }}/report/a-year-in-data/">Next:<br />3. A Year in Data</a></button>

</div>
