---
layout: report
---

<div class="wrapper">

  <h1>A Year in Data</h1>

  <p>Many exciting things have happened with Open Data over the last 12 months; here are just a few highlights and key metrics:</p>

  <div class="timeline">
  <ul>
    <div class="timeline__section">
      <span class="timeline__section__heading">2016</span>
      <li class="city">
        <div>
          <span class="timeline__meta">July:</span>
          <span class="timeline__activityTitle">2016 Open Data for All Report published</span>
          MODA released its first report detailing progress made on the Mayor’s Open Data for All initiative, which was announced in 2015.
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__meta">September:</span>
          <span class="timeline__activityTitle">Crowdsourced geospatial standards</span>
          The Open Data Team used public feedback to create a data standard for publishing street addresses in a uniform way, making it easier for users to make maps with Open Data.
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__meta">September:</span>
          <span class="timeline__activityTitle">City Council holds oversight hearing on Open Data</span>
          The New York City Council Committee on Technology held an oversight hearing on NYC Open Data where key stakeholders testified on its successes and areas for improvement.
        </div>
      </li>
      <li class="community">
        <div>
          <span class="timeline__meta">November:</span>
          <span class="timeline__activityTitle">Broadband Data Dig</span>
          Local experts joined city officials to use <a href="https://data.cityofnewyork.us/dataset/Broadband-Data-Dig-Datasets/ft4n-yqee">newly-released local and federal broadband data</a> to develop insights and recommendations on New York City’s broadband Internet infrastructure.
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__meta">December:</span>
          <span class="timeline__activityTitle">New Data Standards Take Effect</span>
          The Open Data team published version 1.4 of the <a href="https://www1.nyc.gov/assets/doitt/downloads/pdf/nyc_open_data_tsm.pdf">Technical Standards Manual</a>, which now includes data retention, street address, and data dictionary standards.
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__meta">December:</span>
          <span class="timeline__activityTitle">Design charrette with new open data website stakeholders</span>
          The Open Data team convened key community partners to collaborate on priorities and organization for a new Open Data Portal user experience.
        </div>
      </li>
    </div>
    <div class="timeline__section">
      <span class="timeline__section__heading">2017</span>
      <li class="city">
        <div>
          <span class="timeline__meta">January:</span>
          <span class="timeline__activityTitle">NYC Chief Analytics Officer testifies on ride-sharing data</span>
          Amen Ra Mashariki, former NYC Chief Analytics Officer, <a href="http://www1.nyc.gov/assets/analytics/downloads/pdf/Amen-Mashariki-1-5-17-TLC-Testimony.pdf">testified</a> before a Taxi &amp; Limousine Commission Board of Commissioners hearing on how data regulations for ride-sharing companies can contribute to Open Data, increasing transparency for the fastest growing segment of for-hire transportation in New York City.
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__meta">January:</span>
          <span class="timeline__activityTitle">City Council Oversight hearing on MODA Examination and Verification Report</span>
          MODA testified before City Council on its findings after <a href="http://www1.nyc.gov/site/analytics/initiatives/examination-and-verification-2016-findings-report.page">releasing a report</a> on the Department of Sanitation, the Department of Correction, and Department of Housing Preservation and Development’s compliance with the Open Data law.
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__meta">March:</span>
          <span class="timeline__activityTitle">Revamped Open Data website launches</span>
          The Open Data team launched a new, user-friendly Open Data website at <a href="http://nyc.gov/opendata">nyc.gov/opendata</a>, featuring tutorials, a new dataset request tool, and an easy-to-use feedback page to reach the Open Data team.
        </div>
      </li>
      <li class="community">
        <div>
          <span class="timeline__meta">March:</span>
          <span class="timeline__activityTitle">First ever NYC Open Data Week</span>
          To celebrate the five-year anniversary of the NYC Open Data Law, the Open Data Team organized a week of 12 events revolving around Open Data, attracting over 900 participants.
        </div>
      </li>
      <li class="community">
        <div>
          <span class="timeline__meta">March:</span>
          <span class="timeline__activityTitle">Open Data for All Workshop</span>
          <a href="https://www.nycgovparks.org/crc">NYC Parks’ Computer Resource Centers</a> led NYC’s first Open Data for All workshop, teaching users how to download, filter, and map open data from the 2015 TreesCount! street tree census.
        </div>
      </li>
      <li class="community">
        <div>
          <span class="timeline__meta">May:</span>
          <span class="timeline__activityTitle">Open Data spring update</span>
          The Open Data Team and Reboot presented recent research about who’s using open data — including ways to draw new users into the mix. More than 50 people attended the event, which also included presentations by <a href="https://nyc.councilmatic.org/">Councilmatic</a> and <a href="https://www.timescale.com/">TimeScaleDB</a>.
        </div>
      </li>
      <li class="community">
        <div>
          <span class="timeline__meta">June:</span>
          <span class="timeline__activityTitle">Bronx Open Data for All Workshop</span>
          Due to high demand, a second installment of NYC Parks’ Open Data for All workshop was organized, bringing 26 users to a training at the St. Mary’s Recreation Center in the Bronx. Interest was so high that participation was determined by lottery — over 110 people applied for a spot.
        </div>
      </li>
    </div>
  </ul>

  <h2>By the numbers</h2>

  <div class="flexWrap">
    <div class="mod">
      <span class="boldNumber">135</span>
      <span class="boldNumber__heading">New datasets<br />published</span>
      <p class="small">This brings the total to over 1,600 datasets.</p>
    </div>
    <div class="mod">
      <span class="boldNumber">38</span>
      <span class="boldNumber__heading">New<br />automations</span>
      <p class="small">An automation is a dataset that is updated automatically from the agency’s source data to the Open Data Portal.</p>
    </div>
    <div class="mod">
      <span class="boldNumber">5</span>
      <span class="boldNumber__heading">Minutes<br />between updates</span>
      <p class="small">The Department of Transportation <a href="https://data.cityofnewyork.us/view/qkm5-nuaq">Real-Time Traffic Speed dataset</a>, published in July 2017, is updated every five minutes.</p>
    </div>
    <div class="mod">
      <span class="boldNumber">140K</span>
      <span class="boldNumber__heading">Monthly<br />users</span>
      <p class="small">Average calculated from WebTrends Visitors Report for July 1, 2016 - April 30, 2017. Users are defined as the “Number of unique individuals who visited the site during the report period, as identified by a persistent cookie. If someone visits more than once during the report period, they are counted only as one unique visitor.”</p>
    </div>
    <div class="mod">
      <span class="boldNumber">367%</span>
      <span class="boldNumber__heading">Increase in inquiries to Open Data Team since Help Desk Launch</span>
      <p class="small">Baseline is measured by totaling the number of comments on individual dataset pages and data requests received through a Socrata-based “dataset nominations” page (both disabled when the Help Desk launched) in the four month period from November 1, 2016 to February 28, 2017. This is measured against the total inquiries to the Screendoor-powered Open Data Help Desk between March 1, 2017 and June 30, 2017.</p>
    </div>
    <div class="mod">
      <span class="boldNumber">900</span>
      <span class="boldNumber__heading">New Yorkers</span>
      <p class="small">Attended 12 events during City’s inaugural Open Data week in March 2017</p>
    </div>
  </div>
</div>

  <button><a href="{{ site.baseurl }}/report/user-stories/">Next:<br />4. User Stories</a></button>

</div>
