---
layout: report
---

<div class="wrapper">

  <div class="timeline">
  <ul>
    <div class="timeline__section">
      <span class="timeline__section__heading">2016</span>
      <li>
        <div>
          <span class="timeline__meta">September:</span>
          <span class="timeline__activityTitle">Crowdsourced geospatial standards</span>
          The Open Data Team used public feedback to create a data standard for publishing street addresses in a uniform way, making it easier for users to make maps with Open Data.
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">September:</span>
          <span class="timeline__activityTitle">City Council holds oversight hearing on Open Data</span>
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">November:</span>
          <span class="timeline__activityTitle">Broadband Data Dig</span>
          Local experts joined city officials to use newly-released local and federal broadband data to develop insights and recommendations on New York City’s broadband Internet infrastructure.
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">December:</span>
          <span class="timeline__activityTitle">New Data Standards Take Effect</span>
          The Open Data team published version 1.4 of the Technical Standards Manual, which now includes data retention, street address, and data dictionary standards.
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">December:</span>
          <span class="timeline__activityTitle">design charrette with new open data website stakeholders</span>
        </div>
      </li>
    </div>
    <div class="timeline__section">
      <span class="timeline__section__heading">2017</span>
      <li>
        <div>
          <span class="timeline__meta">January:</span>
          <span class="timeline__activityTitle">NYC Chief Analytics Officer testifies on ride-sharing data</span>
          Amen Ra Mashariki, former NYC Chief Analytics Officer, testified before a Taxi & Limousine Commission Board of Commissioners hearing on how data regulations for ride-sharing companies can contribute to Open Data, increasing transparency for the fastest growing segment of for-hire transportation in New York City.
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">January:</span>
          <span class="timeline__activityTitle">City Council Oversight hearing on MODA Examination and Verification Report</span>
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">March:</span>
          <span class="timeline__activityTitle">Revamped Open Data website launches</span>
          The Open Data team launched a new, user-friendly Open Data website at nyc.gov/opendata, featuring tutorials, a new dataset request tool, and an easy-to-use feedback page to reach the Open Data team.
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">March:</span>
          <span class="timeline__activityTitle">First ever NYC Open Data Week</span>
          To celebrate the five-year anniversary of the NYC Open Data Law, the Open Data Team organized a week of 12 events revolving around Open Data, attracting over 900 participants.
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">March:</span>
          <span class="timeline__activityTitle">Open Data for All Workshop</span>
          NYC Parks’ Computer Resource Centers led NYC’s first Open Data for All workshop, teaching users how to download, filter, and map open data from the 2015 TreesCount! street tree census.
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">May:</span>
          <span class="timeline__activityTitle">Open Data spring update</span>
          The Open Data Team and Reboot presented recent research about who’s using open data — including ways to draw new users into the mix. More than 50 people attended the event, which also included presentations by Councilmatic and TimeScaleDB.
        </div>
      </li>
      <li>
        <div>
          <span class="timeline__meta">June:</span>
          <span class="timeline__activityTitle">Bronx Open Data for All Workshop</span>
          Due to high demand, a second installment of NYC Parks’ Open Data for All workshop was organized, bringing 26 users to a training at the St. Mary’s Recreation Center in the Bronx. Interest was so high that participation was determined by lottery — over 110 people applied for a spot.
        </div>
      </li>
    </div>
  </ul>
</div>

  {{ content }}

</div>
