<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">

      <section class="wrapper section__1">
        <img src="{{ site.baseurl }}/assets/img/cover-image.jpg" alt="Photo of busy street with datasets visible." />
        {% capture introduction %}{% include_relative /introduction.md %}{% endcapture %}
        {{ introduction | markdownify }}
      </section>

      <section class="wrapper section__2">
        <img src="{{ site.baseurl }}/assets/img/cover-image.jpg" alt="Photo of busy street with datasets visible." />
        {% capture openDataValues %}{% include_relative /6-open-data-values.md %}{% endcapture %}
{{ openDataValues | markdownify }}
      </section>

      <section class="wrapper section__3">
        <img src="{{ site.baseurl }}/assets/img/cover-image.jpg" alt="Photo of busy street with datasets visible." />
        {% capture timeline %}{% include_relative /timeline.md %}{% endcapture %}
{{ timeline | markdownify }}
      </section>

    </main>

    {% include footer.html %}

  </body>

</html>
