---
layout: report
---

<div class="wrapper">

  {% capture intro %}{% include /content/3.0-user-stories.md %}{% endcapture %}
  {{ intro | markdownify }}

  {% capture story1 %}{% include /content/3.1-user-story.md %}{% endcapture %}
  {{ story1 | markdownify }}

  {% capture story2 %}{% include /content/3.2-user-story.md %}{% endcapture %}
  {{ story2 | markdownify }}

  {% capture story3 %}{% include /content/3.3-user-story.md %}{% endcapture %}
  {{ story3 | markdownify }}

  {% capture story4 %}{% include /content/3.4-user-story.md %}{% endcapture %}
  {{ story4 | markdownify }}

  {% capture story5 %}{% include /content/3.5-user-story.md %}{% endcapture %}
  {{ story5 | markdownify }}

  {% capture story6 %}{% include /content/3.6-user-story.md %}{% endcapture %}
  {{ story6 | markdownify }}

  {% capture story7 %}{% include /content/3.7-user-story.md %}{% endcapture %}
  {{ story7 | markdownify }}

  {% capture story8 %}{% include /content/3.8-user-story.md %}{% endcapture %}
  {{ story8 | markdownify }}

  {% capture story9 %}{% include /content/3.9-user-story.md %}{% endcapture %}
  {{ story9 | markdownify }}

  {{ content }}

</div>
